@import "tailwindcss";

body{
  background-color: #ffffff;
}

body.scroll-lock {
  overflow: hidden;
}

.cardBlock{
  background-color: #cd000000;
  color: white;
}

.cardBlock:hover{
  background-color: #cd0000;
}
.no-caret {
  caret-color: transparent;
}

@media (max-width:320px) {
  #navcontainer{
    display: none;
  }
  #slider{
    height: 19vh;
  }
  #cards{
    display: block;
  }
  .div2{
    width: 100%;
  }
  .div{
    display: block;
    width: 100%;
    margin: 1%;
  }
  .cardBlock{
    width: 98%;
  }
  #footercontent{
    display: none;
  }
}

.menu-btn {
  width: 32px;
  height: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  background: none;
  border: none;
}

.line {
  height: 2px;
  width: 100%;
  background: black;
  transition: all 0.3s ease;
}

/* Transform into X */
.line1.open {
  transform: rotate(45deg) translate(2px, 0px);
}

.line2.open {
  transform: rotate(-45deg) translate(2px, 0px);
}

/* Menu Panel */
.menu-panel {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  z-index: 50;
}

/* SLIDER */
.slider {
  width: max-content;
  animation: scroll 15s linear infinite;
}

#cards:hover .slider {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@media (prefers-reduced-motion: reduce) {
  .slide,
  .boxfill {
    animation: none;
  }
}