@import "tailwindcss";

body{
  background-color: #ffffff;
}

body.scroll-lock {
  overflow: hidden;
}

.cardBlock{
  background-color: #ffffff;
  color: white;
}

.cardBlock:hover{
  background-color: #cd0000;
}
.no-caret {
  caret-color: transparent;
}

@media (max-width:320px) {
  #navcontainer{
    display: none;
  }
  #slider{
    height: 19vh;
  }
  #cards{
    display: block;
  }
  .div2{
    width: 100%;
  }
  .div{
    display: block;
    width: 100%;
    margin: 1%;
  }
  .cardBlock{
    width: 98%;
  }
  #footercontent{
    display: none;
  }
}

/* SLIDER */
.slide {
  gap: 0.1rem;
  animation: slider 20s linear infinite;
}

.slide:hover{
  animation-play-state: paused;
}


/* SLIDER ANIMATION */
@keyframes slider {
  /* Slide 1 */
  0%, 20% {
    transform: translateX(0%);
  }

  /* Slide 2 */
  30%, 50% {
    transform: translateX(-100%);
  }

  /* Slide 3 */
  60%, 80% {
    transform: translateX(-200%);
  }

  /* Reset */
  100% {
    transform: translateX(0%);
  }
}


@media (prefers-reduced-motion: reduce) {
  .slide,
  .boxfill {
    animation: none;
  }
}